.btn {
  border-style: solid;
  border-color: white;
  background-color: rgba(243, 243, 243, 0.75);
  outline: none;
  border-width: 1px;
  border-radius: 1.5px;
}
button::-moz-focus-inner{
  border: 0;
}
.btn:hover {
  cursor: pointer;
}
  
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(black, green);
}

#calculator {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: auto;
  justify-content: center;
  border: 3px solid blue;
  height: 400px;
}
  

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  height: auto;
  background-color: rgb(20, 177, 67);
  font-size: larger;
  text-align: right;
  border-radius: 8px;
  box-shadow: chartreuse;
}

#output-value {
  
  margin-bottom: 0;
  
  
}

#history-value {
  background-color: rgb(16, 133, 51);
  margin-top: 0;
}



#clear {
  grid-column-start: 1;
  grid-column-end: 3;
}

#\= {
  grid-column-start: 3;
  grid-column-end: 5;
}
#\0 {
  grid-column-start: 2;
  grid-column-end: 3;
}
#\. {
  grid-row-start: 6;
}
#\1 {
  grid-column-start: 1;
  grid-row-start: 5;
}
#\2 {
  grid-column-start: 2;
}
#\4 {
  grid-column-start: 1;
}
#\7 {
  grid-column-start: 1;
}
  

  